<div class="index-container">
  <img src="images/beer.png" alt="Cerveza">
  <div class="button-index">
    <button class="btn btn-primary mt-3" type="submit" role="link" onclick="window.location='./beers'">Beers</button>
    <button class="btn btn-primary mt-3" type="submit" role="link" onclick="window.location='./random-beers'">Random Beers</button>
  </div>


</div>